.kyccontainer {
  .form {
    .lable {
      font-size: 14px;
    }
  }
  .checkbox {
    .sidebar-bg-primary {
      background-color: #3a5998;
    }
    .logintxt {
      display: flex;
      align-items: center;
      input {
        width: 25px;
        height: 25px;
      }
      p {
        margin-bottom: 0;
        margin-left: 10px;
      }
    }
    .submitandsavbutton {
      Button {
        padding-right: 60px !important;
        padding-left: 60px !important;
      }
      .savebutton {
        background: none;
        color: #3a5998;
        margin-left: 35px;
        border-color: #3a5998;
      }
      .savebutton:hover {
        background-color: #3a5998;
        color: #fff;
      }
    }
  }

  .save-and-submit {
    background-color: #e3e3e3;
    border-radius: 8px;
  }

  @media only screen and (min-width: 992px) {
    .h-100vh {
      height: 100vh;
    }
    .position-fixed-n {
      position: fixed;
    }
    .createindustryform {
      margin-left: 16.7%;
    }
  }

  @media only screen and (max-width: 992px) {
    .submitandsavbutton {
      button {
        width: 100%;
        margin-left: 0 !important;
      }
    }
  }
}
