$cell-border-color : 1px solid rgba(0, 0, 0, 0.644);
%flex-column-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap : 20px;
    height: 500px;
    flex-wrap: nowrap;
}


div.nba_survey{
    @extend %flex-column-container;
}
.bold{
    font-weight: 600;
}

@mixin header_cell_border{
    border-right: $cell-border-color!important;
    border-top: $cell-border-color!important;
    border-bottom: 3px solid rgba(0, 0, 0, 0.644)!important;
    font-weight: 600;   
    box-sizing: border-box;
    &:first-child{
        border-left: $cell-border-color!important;
  }
}
@mixin cell_border{
    border-right: $cell-border-color!important;
    border-bottom: $cell-border-color!important;

    &:first-child{
        border-left: $cell-border-color!important;
    }
}


.cell{
    @include cell_border();
}

.headercell{
    @include header_cell_border();
}