$agenda-regularExtraCondensed: 'Agenda-RegularExtraCondensed';
$agenda-light: 'Agenda-Light';
$agenda-lightItalic: 'Agenda-LightItalic';
$agenda-mediumExtraCondensed: 'Agenda-MediumExtraCondensed';
$agenda-mediumUltraCondensed: 'Agenda-MediumUltraCondensed';
$agenda-regularCondensedItalic: 'Agenda-RegularCondensedItalic';
$agenda-italic: 'Agenda-Italic';
$agenda-semiBoldUltraCondensed: 'Agenda-SemiBoldUltraCondensed';
$agenda-regularUltraCondensed: 'Agenda-RegularUltraCondensed';
$agenda-regular: 'Agenda-Regular';
$agenda-bold: 'Agenda-Bold';
$agenda-semiBoldItalic: 'Agenda-SemiBoldItalic';
$agenda-semiBold: 'Agenda-SemiBold';
$agenda-mediumItalic: 'Agenda-MediumItalic';
