div.ChoiceFilling {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 20px 0;
}

div.choice_form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}

%table-container{
  display: block;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
  min-width: 250px;
  align-self: center;
  width: 100%;
}

div.choice_table {
  @extend %table-container;
  max-width: 812px;
  height: 380px;

}
label.bold , span.bold{
  font-weight: 600;
}
.cell{
  border: 1px solid grey;
}
